.catalog {
  .catalog-sidebar {
      max-width: 360px;
  }
}

.modal-body {
  padding: 0;
  display: flex;
  border: none;

  .modal-gallery, .modal-description {
    flex: 1
  }

  img {
    width: 100%;
  }

  .modal-description {
    position: relative;
    background-color: #C6BEBE;

    .modal-description__collage *, .modal-description__content * {
      z-index: 5;
    }

    .modal-description__collage {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .modal-description__content {
      color: #ffffff;
      margin-top: 30px;
      text-align: center;
    }

    img {
      width: 200px;
      margin: 0 15px;
    }
  }
}

.modal-description__fade {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgba(244, 238, 226, 0.5);
  clip-path: polygon(0 14%, 73% 34%, 100% 100%, 0% 100%);
}

.modal-content {
  border: none;
}

@media (min-width: 576px) {
  .modal-dialog {
    min-width: 90%;
    border: none;
  }
}
